.body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.title {
    color: red;
    text-align: center;
}

.text {
    color: rgb(161, 90, 189);
    text-align: center;
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}